@import '../../../colors.scss';

.date-picker-container {
   display              : inline-grid;
   grid-template-columns: auto auto auto;

   button,
   input {
      border-radius: 0;
   }

   input {
      background-color: $gray-700;
      color           : $white;

      &:hover,
      &:active,
      &:focus {
         transform: none !important;
         color    : $white;
      }
   }
}