.summary-container {
    display              : grid;
    grid-template-columns: auto;
    text-align           : center;
    border               : 1px solid #272727;
}

.incoming-income-date {
    color: #3f3;
}

.incoming-expense-date {
    color: #f33;
}

.table-header {
    display: flex;
    padding: 10px 0;

    button {
        margin-left: 5px;
    }
}