@mixin themable($theme-name, $container-bg, $color) {
  .#{$theme-name} {
    background-color: #000;
    color           : $color;

    .container {
      background-color: $container-bg !important;

      @media (max-width: 576px) {
        padding: 0;
      }
    }

    .card {
      background-color: lighten($color:$container-bg, $amount: 4);
    }

    .table {
      color: inherit !important;

      th,
      td {
        border-color: #272727;
      }
    }

    .form-control,
    .form-control:focus {
      background-color: $container-bg;
    }

    .swal2-popup {
      background: $container-bg;
      box-shadow: 0 0 20px darken($color: $container-bg, $amount: 10);

      .swal2-validation-message {
        background: #fee;
      }
    }
  }
}

@include themable(dark, #111, #eee);
@include themable(light, #fff, #222);

#main {
  overflow  : auto;
  height    : 100%;
  max-height: 100%;
}



.DateRangePickerInput {
  background-color: #bbb;
}



.DateRangePickerInput {

  &,
  input,
  p {
    background-color: #111;
    color           : #eee;
  }

  .DateInput {
    width: calc(50% - 12px);



    .DateInput_input {
      text-align : center;
      font-weight: bold;

      &#start-date-input {
        text-align: right;
      }

      &#end-date-input {
        text-align: left;
      }
    }

    .DateInput__small {
      width: 90px;
    }
  }

}