.header-container {
   text-align   : center;
   display      : flex;
   margin-bottom: 10px;

   div {
      margin: auto;

      h1 {
         font-variant: petite-caps;
         margin      : 0;
         color       : #28a745;
      }

      span {
         color: inherit;
      }
   }
}