@keyframes example {
   from {
      margin-right: -65px;
      opacity     : 0;
   }

   to {
      opacity: 100;
   }
}


.expense-item {
   margin       : 0 0 10px 0;
   border       : 1px solid #ddd;
   border-radius: 0 0 5px 5px;

   .expense-item-header {
      background : #ff5050;
      color      : white;
      display    : flex;
      padding    : 5px;
      align-items: center;

      h5 {
         margin: 0
      }

      div {
         position: absolute;
         right   : 25px;

         img {
            height     : 20px;
            margin-left: 3px;
         }
      }
   }

   .expense-item-body {
      display    : flex;
      padding    : 5px;
      align-items: center;

      #right-side {
         position   : absolute;
         right      : 25px;
         display    : flex;
         align-items: center;

         #action-buttons-container {
            align-items: center;
            display    : none;
            opacity    : 0;

            :hover>& {
               animation-name    : example;
               animation-duration: 0.5s;
               display           : flex;
               opacity           : 100;
               margin-left       : 5px;
               margin-right      : -5px;
            }


            button {
               border             : 1px solid #eee;
               border-radius      : 50%;
               height             : 27px;
               width              : 27px;
               outline            : 0;
               background-size    : 15px;
               background-repeat  : no-repeat;
               background-position: center;

               &:hover {
                  transition: 250ms;
                  transform : scale(1.2);
               }

               &#delete-btn {
                  background-color: #ff6b6b;
                  background-image: url('../../../assets/delete.svg');
               }

               &#update-btn {
                  background-color: #ffc46b;
                  background-image: url('../../../assets/edit.svg');
               }
            }
         }
      }
   }
}