@import './colors.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import 'assets/react-contextmenu.scss';

html {
  max-height: 100%;
  height    : 100%;

  body {
    margin : 0;
    display: inline;

    font-family            : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $black;

    #root {
      height: 100%;
    }
  }

  input:required {
    &:invalid {
      border-color : $danger !important;
      outline-color: $danger !important;
      box-shadow   : 0 0 10px $danger !important;
    }


    &:valid {
      border-color : $success !important;
      outline-color: $success !important;
      box-shadow   : 0 0 10px $success !important;
    }
  }

  button,
  input {
    border-radius: 0 !important;
  }
}