@import '~bootstrap/scss/bootstrap.scss';

html {

  max-height: 100%;
  height    : 100%;

  body {
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    background             : #171717;
    height                 : 100%;

    #root {
      height: 100%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 576px) {
  .container {
    padding: 0;
  }
}

.DateInput {
  width: calc(50% - 12px);

  .DateInput_input {
    text-align : center;
    font-weight: bold;

    &#start-date-input {
      text-align: right;
    }

    &#end-date-input {
      text-align: left;
    }
  }

  .DateInput__small {
    width: 90px;
  }
}