@import './colors.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import 'assets/react-contextmenu.scss';

html {
  max-height: 100%;
  height    : 100%;

  body {
    margin : 0;
    display: inline;

    font-family            : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $black;

    #root {
      height: 100%;
    }
  }

  .btn,
  .form-control {
    transition: 250ms;
  }

  .form-control:hover,
  .form-control:active,
  .form-control:focus {
    transform: scale(1.02);
  }

  .btn:hover,
  .btn:active,
  .btn:focus {
    transform: scale(1.1);
  }
}